@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", sans-serif;
}

header {
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    z-index: 9;
}

.header-content {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    display: flex;

    align-items: center;
}

.logo a span {
    font-size: 25px;
    color: #0D13D7;
    font-weight: 900;
}

.logo a span i {
    color: #000;
    font-style: unset;
}

#navbar {
    list-style: none;
    display: flex;

    gap: 30px;
}


.slider {
    position: relative;
    height: 800px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slider::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #262BDB;
    opacity: .43;
}


.slider .grid-2 {
    position: relative;
}

.slider .content-image img {
    scale: 0.8;
    max-width: 100%;
}

.slider .text {
    color: #fff;
}

.slider .text h2 {
    width: 400px;
    font-size: 32px;
    font-weight: 700;
    
}

.slider .text p {
    line-height: 22px;
}

.slider .text ul {
    display: flex;
    align-items: center;
    gap: 15px;
}

.slider .text li a {
    
}