* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-white: #FFF;
    --color-black: #000;
}

a {
    text-decoration: none;

}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}



@media (min-width:1200px) {
    .container {
        width: 1140px;
    }
}

@media (min-width:1400px) {
    .container {
        width: 1320px;
    }

}



.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}


.align-items-center {
    align-items: center;
}

.mb-2 {
    margin-bottom: 20px;
}

.list-style-none {
    list-style: none;
}


.d-flex {
    display: flex;
}


.a-button {
    display: inline-block;
    background-color: #FFF;
    color: black;
    border-radius: 15px;
    padding: 10px 15px;
}